<div class="col s12">
    <div class="card-panel grey lighten-5 z-depth-1 cardButtons">
        <div class="row valign-wrapper">
            <div class="col l3 s3">
                <img src="assets/img/steve.jpeg" alt="" class="circle responsive-img z-depth-2">
                <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="black-text">
                   Start Time: 9am | Start Date: 12-12-17 <hr> End Time: 9am | End Date: 12-13-17
                </span>
            </div>
        </div>
        <div class="row adminButtons">
            <a class="col s6 waves-effect waves-light btn">
                <span class="black-text">returned</span>
                <i class="material-icons right">mood</i>
            </a>
            <form class="col s6 amber waves-effect waves-light btn" method="post" action="mailto:shatoya-not-latoya@sharetop.com">
        <input type="submit" value="Contact" />
        <i class="material-icons right">email</i>
      </form>


        </div>
    </div>
</div>