<div class="col s12">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
                <div class="col l4 s3">
                <img src="assets/img/ibook.jpeg" alt="" class="responsive-img z-depth-2"> <!-- notice the "circle" class -->
                </div>
                    <div class="col s10">
                    <span class="black-text">
                        Model Name: ibook <hr>
CPU: 1 | Ram: 1G <hr>Screen Size: 12 inch <hr>
This a old slow computer with no wifi.  
                    </span>
                    </div>
        </div>
               
        </div>
    </div>
