<!DOCTYPE html>
    <html>

    <head>
    
    </head>
  </head>
  <body>
    <h3 class="white-text">Recomended Locations</h3>
    <div id="map"></div>
    <script>
   
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgwn-akWZ7_c4IGYKfPUHWNvcge1z6M6o&callback=initMap">
    </script>
  </body>
</html>