 <nav class="navbar z-depth-1">
    <div class="nav-wrapper nav-wrapperz">
      <a href="#!" class="brand-logo center">sharetop</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger button-collapse"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/security">Security</a></li>
        <li><a href="/addequipment">Add Equipment</a></li>
        <li><a href="/tech">Tech</a></li>
        <li><a href="/next">Coming Soon</a></li>
        </ul>

        <ul class="right hide-on-med-and-down">
        <li><a id="logSign" href="/login">Login/Signup</a></li>
      </ul>
      <ul class="sidenav center" id="mobile-demo">
        <h4 class="black-text">sharetop</h4>
        <li><a class="teal-text" href="/">Home</a></li>
        <li><a class="teal-text" href="/security">Security</a></li>
        <li><a class="teal-text" href="/addequipment">Add Equipment</a></li>
        <li><a class="teal-text" href="/tech">Tech Used</a></li>
        <li><a class="teal-text" href="/next">Coming Soon</a></li>
        <li><a id="logSign" class="teal-text" href="/login">Login/Signup</a></li>
      </ul>
    </div>
  </nav>