<div class="col s12">
    <div class="card-panel grey lighten-5 z-depth-1 cardButtons">
        <div class="row valign-wrapper">
            <div class="col l3 s3">
                <img src="assets/img/steve.jpeg" alt="" class="circle responsive-img z-depth-2">
                <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="black-text">
                    This is some awesome equipment or whatever.
                </span>
            </div>
        </div>
        <div class="center row adminButtons">

            <a class="col s12 amber waves-effect waves-light btn">
                <span>contact</span>
                <i class="material-icons right">email</i>
            </a>


        </div>
    </div>
</div>