<div class="col s12">
    <div class="card-panel grey lighten-5 z-depth-1 cardButtons">
        <div class="row valign-wrapper">
            <div class="col l3 s3">
                <img src="assets/img/steve.jpeg" alt="" class="circle responsive-img z-depth-2">
                <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="black-text">
                    This is some awesome equipment or whatever.
                </span>
            </div>
        </div>
        <div class="center row adminButtons">

           <form class="col s12 amber waves-effect waves-light btn" method="post" action="mailto:youremail@youremail.com">
        <input type="submit" value="Contact" />
        <i class="material-icons right">email</i>
      </form>


        </div>
    </div>
</div>