<div class="col s12">
  <div class="card-panel grey lighten-5 z-depth-1 cardButtons">
    <div class="row valign-wrapper">
      <div class="col l3 s3">
        <img src="assets/img/steve.jpeg" alt="" class="circle responsive-img z-depth-2">
        <!-- notice the "circle" class -->
      </div>
      <div class="col s10">
        <span class="black-text">
          Start Time: 9am | Start Date: 12-12-17 <hr> End Time: 9am | End Date: 12-13-17
        </span>
      </div>
    </div>
    <div class="row center adminButtons">
      <a class="col s4 waves-effect waves-light btn">
        <span class="black-text">approve</span>
        <i class="material-icons right">thumb_up</i>
      </a>
      <form class="col s4 amber waves-effect waves-light btn" method="post" action="mailto:shatoya-not-latoya@sharetop.com">
        <input type="submit" value="Contact" />
        <i class="material-icons right">email</i>
      </form>


      <a class="col s4 red waves-effect waves-light btn">
        <span class="black-text">reject</span>
        <i class="material-icons right">thumb_down</i>
      </a>


  
  </div>
</div>
</div>