<div class="col s12">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
                <div class="col l3 s3">
                <img src="assets/img/steve.jpeg" alt="" class="circle responsive-img z-depth-2"> <!-- notice the "circle" class -->
                </div>
                    <div class="col s10">
                    <span class="black-text">
                        This is some awesome equipment or whatever.
                    </span>
                    </div>
        </div>
        <div class="row center">
               <a class="waves-effect waves-light btn">
  <i class="material-icons right">check</i>approve</a>
<a class="amber waves-effect waves-light btn">
  <i class="material-icons right">email</i>contact</a>
<a class="red waves-effect waves-light btn">
  <i class="material-icons right">delete</i>reject</a>
  </div>
  
        </div>
    </div>

