<<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>shareTop</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Add jquery cdn-->
        <!-- Add materialize cdn -->
        <!-- Add google fonts -->
        <!-- Add style.css -->
        
    </head>
    <body>
        {{{body}}}

        <!-- link script files -->
        <script>
        </script>
    </body>
</html>