{{!-- create user html to render --}}
<div class="container">
    <div class="row">  
      <form class="card-panel col s12 card">
       <h3 class="card-title">Equipment information</h3>
        <div class="row">
            <div class="input-field col s12">
            <input placeholder="Example dell/hp/apple" id="first_name" type="text" class="validate">
            <label for="first_name">Computer Make</label>
            </div>
            <div class="input-field col s12">
            <input placeholder="Example xps/yogabook/macbook air"id="last_name" type="text" class="validate">
            <label for="last_name">Computer Model</label>
            </div>
        </div>
    
        <div class="row">
        <div class="input-field col s12">
            <input id="computer_year" type="text" class="validate">
            <label for="computer_year">Computer year</label>
            </div>

    
   <div class="input-field col s6">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">1 Gigabyte and under</option>
      <option value="2">2 Gigabytes</option>
      <option value="3">3 Gigabytes</option>
      <option value="4">4 Gigabytes</option>
      <option value="5">5 Gigabytes</option>
      <option value="6">6 Gigabytes</option>
      <option value="7">7 Gigabytes</option>
      <option value="8">8 Gigabytes</option>
      <option value="9">9 Gigabytes</option>
      <option value="10">10 Gigabytes</option>
      <option value="11">11 Gigabytes</option>
      <option value="12">12 Gigabytes</option>
      <option value="13">13 Gigabytes</option>
      <option value="14">14 Gigabytes</option>
      <option value="15">15 Gigabytes</option>
      <option value="16">16 Gigabytes</option>
      <option value="17">17 + Gigabytes</option>
      

      
    </select>
    <label>RAM</label>
  </div>
          
    
        <div class="input-field col s6">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="7">7 inches</option>
      <option value="8">8 inches</option>
      <option value="9">9 inches</option>
      <option value="10">10 inches</option>
      <option value="11">11 inches</option>
      <option value="12">12 inches</option>
      <option value="13">13 inches</option>
      <option value="14">14 inches</option>
      <option value="15">15 inches</option>
      <option value="16">16 inches</option>
      <option value="17">17 + inches</option>

      
    </select>
    <label>Screen Size</label>
  </div>
  <div class="col s12">
  <form action="#">
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload clear image of yourself">
      </div>
    </div>
    <p class="center">
      <input type="checkbox" id="test5" />
      <label for="test5">By clicking submit I have read and agree to the terms of use</label>
    </p>
    <div class="center-align">
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
  </div>
   </form>
  </div>
  

        </form>
    </div>
  </div>