{{!-- create user html to render --}}
 <nav class="transparent searchP col s12">
 {{> search}}
 </nav>
<div class="carousel carousel-slider" >

  
   
   
    <div class="carousel-item c1"  >
    </div>
    <div class="carousel-item c2" >
      </div>
   <div class="carousel-item c3" >
      </div>
    <div class="carousel-item c4" >
      </div>
    <div class="carousel-item c5" >
      </div>
    <div class="carousel-fixed-item">
   
        
        
   
  
  </div>
  </div>
  
  
  

<div id="maincontent" >
  
  <div class="row">
    <h1>Main Content</h1>
   </div>