{{!-- create user html to render --}}
<div class="carousel carousel-slider" >

  
   
   
    <div class="carousel-item c1"  >
    </div>
    <div class="carousel-item c2" >
      </div>
   <div class="carousel-item c3" >
      </div>
    <div class="carousel-item c4" >
      </div>
    <div class="carousel-item c5" >
      </div>
    <div class="carousel-fixed-item">
     <div class="container">
    <div class="row">
        <div id="index-panel" class="card-panel z-depth-5 hoverable col s12">
        <div id="index-row" class="row">
            <div class="input-field col l3 s12">
            <input placeholder="Enter City and State"  id="where" type="text" class="validate">
            <label for="where">Where</label>
            </div>
        <div class="col l2 s6">
       <label for="time1">Start Time</label>
        <input id="time1" type="text" class="timepicker">
        </div>
        <div class="col l2 s6">
        <label for="date1">Start Date</label>
        <input id="date1" type="text" class="datepicker">
        </div>
        <div class="col l2 s6">
        <label for="time2">End Time</label>
        <input id="time2" type="text" class="timepicker">
        </div>
        <div class="col l2 s6">
        <label for="date2">End Date</label>
        <input id="date2" type="text" class="datepicker">
        </div>
        
        
    <div class="center-align col l1 s12">
    <button id="searchbutton" class="btn teal waves-effect waves-light" type="submit" name="action">
    <i class="material-icons center">search</i>
  </button>
    </div>
    </div>
  </div>
  </div>
  </div>
    </div>
  </div>

<div id="maincontent" >
  <div class="row">
    <h1>help me move</h1>
   <input type="text" class="timepicker">
   </div>