{{!-- create user html to render --}}
{{> navbarAuth}}
<nav class="transparent z-depth-0"><div class="nav-wrapper under"></div></nav>
<nav class="transparent searchP col s12 z-depth-0">
  {{> search}}
</nav>
<div class="carousel carousel-slider">




  <div class="carousel-item c1">
  </div>
  <div class="carousel-item c2">
  </div>
  <div class="carousel-item c3">
  </div>
  <div class="carousel-item c4">
  </div>
  <div class="carousel-item c5">
  </div>
</div>




<div id="maincontent">

  <div class="center row">
    <h1>Welcome To Sharetop</h1>
    <h5>The best and easiest way to share electronics</h5>
  </div>

  <div class="security_content card">
        <div class="row">
            <div class="center col s12 medium hide-on-large-only">
                <img class="sierra responsive-img" src="/assets/img/need.jpg" alt="Meetup">
            </div>
            <div class="center col s12 l6 grey-text text-darken-2">
                <h1>Kids need computers</h1>
                <p>Everything is moving online and not having access to a computer can put a student behind in school.
                </p>
            </div>
            <div class="center col l6 medium hide-on-med-and-down show-on-large">
                <img class="sierra responsive-img" src="/assets/img/need.jpg" alt="Meetup">
            </div>

        </div>
 <hr style="width: 55%">


        <div class="row">
            <div class="center col s12 l6 medium">
                <img class="sierra responsive-img" src="/assets/img/devices.png" alt="guest">
            </div>
            <div class="center col s12 l6 grey-text text-darken-2">
                <h1>People have computers they are not using</h1>
                <p>Share your computer with someone who needs one.</p>
            </div>
        </div>

        <hr style="width: 55%">

        <div class="row">
            <div class="center col s12 medium hide-on-large-only">
                <img class="sierra responsive-img" src="/assets/img/handsheart.png" alt="Meetup">
            </div>
            <div class="center col s12 l6 grey-text text-darken-2">
                <h1>We are here to connect them</h1>
                <p>Sharetop connects those who need computers with those who have computers.
                </p>
            </div>
            <div class="center col l6 medium hide-on-med-and-down show-on-large">
                <img class="sierra responsive-img" src="/assets/img/handsheart.png" alt="Meetup">
            </div>

        </div>

 <hr style="width: 55%">

     <div class="row">
            <div class="center col s12 l6 medium">
                <img class="sierra responsive-img" src="/assets/img/HandsHearts-1.png" alt="guest">
            </div>
            <div class="center col s12 l6 grey-text text-darken-2">
                <h1>Together we can all play our part</h1>
                <p>Lets get computers in the hands of those who need it.</p>
            </div>
        </div>
    </div>
        