{{!-- login html to render --}}
{{!-- create user html to render --}}
<div class="container">
    <div class="row">
        <form class="card-panel col s12">
       
        <div class="row">
            <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
            </div>
        </div>

         <div class="row">
            <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
            </div>
        </div>

    <p class="center">
      <input type="checkbox" id="test5" />
      <label for="test5">I have read and agree to the terms of use</label>
    </p>
    <div class="center-align">
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
  <br>
  <br>
  <div class="center-align">
    <a href="/signup" class="text-blue" name="action">Create User
  </a>
  </div>
   </form>
  </div>
  

    </div>
 