{{!-- login html to render --}}
{{!-- create user html to render --}}
{{> navbar}}
<div class="container">
    <div class="row">
        <form class="card-panel col s12" id="loginForm" action="users/signin" method="POST">
       
        <div class="row">
            <div class="input-field col s12">
            <input id="email" name="email" type="email" class="validate">
            <label for="email">Email</label>
            </div>
        </div>

         <div class="row">
            <div class="input-field col s12">
            <input id="password" name="password" type="password" class="validate">
            <label for="password">Password</label>
            </div>
        </div>

    <p class="center">
      <input type="checkbox" id="test5" name="termsAgree"/>
      <label for="test5">I have read and agree to the terms of use</label>
    </p>
    <div class="center-align">
    <a href="/homeauth" class="white-text"><button  class="btn waves-effect waves-light" type="submit" id="loginBtn" name="action">Submit
    <i class="material-icons right">send</i></a>
  </button>
  <br>
  <br>
  <div class="center-align">
    <a href="/signup" class="text-blue" name="action">Create User
  </a>
  </div>
   </form>
  </div>
  

    </div>