 <div class="security_content card">
     <h1 class="center">Coming Soon</h1><hr><br>
        <div class="row">
            <div class="center col s12 medium hide-on-large-only">
                <img class="sierra responsive-img" src="/assets/img/gps.svg" alt="Location">
            </div>
            <div class="center col s12 l6 grey-text text-darken-2">
                <h1>Location Based Search</h1>
                <p>Search for equipment closest to you.
                </p>
            </div>
            <div class="center col l6 medium hide-on-med-and-down show-on-large">
                <img class="sierra responsive-img" src="/assets/img/gps.svg" alt="Location">
            </div>

        </div>
        <hr style="width: 55%">

        <div class="row">
            <div class="center col s12 l6 medium">
                <img class="sierra responsive-img" src="/assets/img/bank.png" alt="bank">
            </div>
            <div class="center col s12 l6 grey-text text-darken-2">
                <h1>Laptop rentals</h1>
                <p>Soon you will be able to make cash on tech you have collecting dust.
                </p>
            </div>
        </div>

        <hr style="width: 55%">

        <div class="row">
            <div class="center col s12 medium hide-on-large-only">
                <img class="sierra responsive-img" src="/assets/img/handp.svg" alt="Surf at your own risk">
            </div>
            <div class="center col s12 l6 grey-text text-darken-2">
                <h1>Improved Privacy</h1>
                <p>No longer will you have to share your email to chat with other users.
                </p>
            </div>
            <div class="center col l6 medium hide-on-med-and-down show-on-large">
                <img class="sierra responsive-img" src="/assets/img/handp.svg" alt="Surf at your own risk">
            </div>

        </div>


        <hr style="width: 55%">


        <div class="row">
            <div class="center col s12 l6 medium">
                <img class="sierra responsive-img" src="/assets/img/build.svg" alt="Building">
            </div>
            <div class="center col s12 l6 grey-text text-darken-2">
                <h1>More recomended locations</h1>
                <p>Soon you will be able to see public safe places such as libaries and police stations.</p>
            </div>
        </div>

        <hr style="width: 55%">

        <div class="row">
            <div class="center col s12 medium hide-on-large-only">
                <img class="sierra responsive-img" src="/assets/img/sierra.png" alt="No High Sierra">
            </div>
            <div class="center col s12 l6 grey-text text-darken-2">
                <h1>Support for macs with High Sierra</h1>
                <p>We might just skip this one.</p>
            </div>
            <div class="center col l6 medium hide-on-med-and-down show-on-large">
                <img class="sierra responsive-img" src="/assets/img/sierra.png" alt="No High Sierra">
            </div>

        </div>