
    <div class="security_content card">
        <h1 class="center">SECURITY</h1><hr><br>
        <div class="row">
            <div class="center col s12 medium hide-on-large-only">
                <img class="sierra responsive-img" src="/assets/img/meet.png" alt="Meetup">
            </div>
            <div class="center col s12 l6 grey-text text-darken-2">
                <h1>Meet in a public place</h1>
                <p>Meet up in a place nonsecluded place. Some ideas are police station, libraries and coffee shops.
                </p>
            </div>
            <div class="center col l6 medium hide-on-med-and-down show-on-large">
                <img class="sierra responsive-img" src="/assets/img/meet.png" alt="Meetup">
            </div>

        </div>
        <hr style="width: 55%">

        <div class="row">
            <div class="col s12 l6 medium center">
                <iframe class="npr" src="https://www.npr.org/player/embed/543434808/543477532" width="100%" height="290" frameborder="0"
                    scrolling="no" title="NPR embedded audio player"></iframe>
            </div>
            <div class="center col s12 l6 grey-text text-darken-2">
                <h1>Password protect your computer</h1>
                <p>NEVER GIVE OUT YOUR PASSWORD. The national institute of standards and technology recomends keeping passwords
                    simple, long and memorable. Phrases, lowercase letters and typical English words work well.
                    <a href="https://www.npr.org/sections/alltechconsidered/2017/08/14/543434808/forget-tough-passwords-new-guidelines-make-it-simple">Click here to read or listen to more information.</a>
                </p>
            </div>
        </div>

        <hr style="width: 55%">

        <div class="row">
            <div class="center col s12 medium hide-on-large-only">
                <img class="sierra responsive-img" src="/assets/img/surf.png" alt="Surf at your own risk">
            </div>
            <div class="center col s12 l6 grey-text text-darken-2">
                <h1>Lend at your own risk</h1>
                <p>Sharetop is not responsible for lost, stolen, or damanaged equipment. Your choice of lending your equipment is a personal choice. Risk can be minified by taking
                    the steps and here.

                    <a href="https://lifehacker.com/5806791/how-to-protect-your-privacy-when-you-share-your-computer">Click here for more information and steps you should take to help secure your computer.</a>
                </p>
            </div>
            <div class="center col l6 medium hide-on-med-and-down show-on-large">
                <img class="sierra responsive-img" src="/assets/img/surf.png" alt="Surf at your own risk">
            </div>

        </div>


        <hr style="width: 55%">


        <div class="row">
            <div class="center col s12 l6 medium">
                <img class="sierra responsive-img" src="/assets/img/guest.png" alt="guest">
            </div>
            <div class="center col s12 l6 grey-text text-darken-2">
                <h1>Create a guest user</h1>
                <p>NEVER GIVE OUT YOUR PASSWORD. Creating a guest account is your best line of defense. Guest accounts have
                    much more limited access to your computer than a typical user... Unless you are running macOS High Sierra.</p>
            </div>
        </div>

        <hr style="width: 55%">

        <div class="row">
            <div class="center col s12 medium hide-on-large-only">
                <img class="sierra responsive-img" src="/assets/img/sierra.png" alt="No High Sierra">
            </div>
            <div class="center col s12 l6 grey-text text-darken-2">
                <h1>No macs with High Sierra</h1>
                <p>Just no.</p>
            </div>
            <div class="center col l6 medium hide-on-med-and-down show-on-large">
                <img class="sierra responsive-img" src="/assets/img/sierra.png" alt="No High Sierra">
            </div>

        </div>