<div class="security_content card">
        <div class="container">
            <div class="row">
            <div class="col s12 l12 xl6">
                <h2>HTML</h2>
            </div>
            <div class="col s12 l6 xl6">
                <h2>CSS</h2>
            </div>
            <div class="col s12 l6 xl6">
                <h2>JAVASCRIPT</h2>
            </div>
            <div class="col s12 l6 xl6">
                <h2>JQUERY</h2>
            </div>
            <div class="col s12 l6 xl6 ">
                <h2>HANDLEBARS</h2>
            </div>
            <div class="col s12 l6 xl6 ">
                <h2>MATERIALIZE</h2>
            </div>
            <div class="col s12 l6 xl6 ">
                <h2>Mysql</h2>
            </div>
            <div class="col s12 l6 xl6 ">
                <h2>Sequelize</h2>
           </div>
           <div class="col s12 l6 xl6 ">
                <h2>RegEx</h2>
           </div>
            <div class="col s12 l6 xl6 ">
                <h2>Authentication</h2>
           </div>
            <div class="col s12 l6 xl6 ">
                <h2>Zenhub</h2>
           </div>
            <div class="col s12 l6 xl6 ">
                <h2>Git</h2>
           </div>
             <div class="col s12 l6 xl6 ">
                <h2>Github</h2>
           </div> <div class="col s12 l6 xl6 ">
                <h2>Postman</h2>
           </div> <div class="col s12 l6 xl6 ">
                <h2>Heroku</h2>
           </div> <div class="col s12 l6 xl6 ">
                <h2>Morgan</h2>
           </div>
            <div class="col s12 l6 xl6 ">
                <h2>Google Maps</h2>
           </div> <div class="col s12 l6 xl6 ">
                <h2>Datasets</h2>
           </div>
            <div class="col s12">
                <h2>Coffee Lots of Coffee</h2>
           </div>
        </div>
        </div>
        </div>